rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() {
      return request.auth != null;
    }

    function isSelf(uid) {
      return isAuth() && request.auth.uid == uid;
    }

    function isAdmin() {
      return isAuth()
        && firestore.exists(/databases/(default)/documents/adminUsers/$(request.auth.uid))
        && firestore.get(/databases/(default)/documents/adminUsers/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{uid}/avatar/{fileName} {
      allow read: if true;
      allow write: if isSelf(uid)
        && request.resource.size < 3 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /catalog/{collectionName}/{objectId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && (collectionName == "events" || collectionName == "athletes")
        && request.resource.size < 3 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
